@charset "utf-8";

* {
    font-size: 1px;
}

body {
	width: 98vw;
    opacity: 1;
}

h1 {
	width: 100%;
    color: #4d2e19;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
	margin-top: 8.7%;
}

h1 a {
	display: inline-block;
	width: 100%;
	color: #4d2e19;
    font-size: 40rem;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
	transition-duration: 0.3s;
}

#mbWood {
    width: 99.5%;
    margin: 20% auto 0 5.8%;
    position: relative;
}

.profile_page {
	width: 11vw;
	height: 11vw;
}

.page_box {
	width: 100%;
	position: relative;
}
/* 
.profile_page a, .works_page a{
    width: 8vw;
    background-color: rgba(0,0,0,0.8);
    display: block;
	position: absolute;
	top: 3.4vw;
    left: 1.4vw;
    z-index: 2;
    padding: 1vw 0 1vw 0;
    transform: scaleX(0);
    transform-origin: center;
}

.profile_page p, .works_page p, .contact_page p {
    color: white;
    font-family: "Arial", "小塚ゴシック Pr6N", sans-serif;
    font-size: 1vw;
	letter-spacing: 0.1vw;
    display: inline-block;
    text-align: center;
    width: 100%;
    opacity: 0;
	transition-duration: 0.3s;
} */

.page_box span {
	font-weight: bold;
	font-size: 1vw;
}

.works_page {
	width: 11vw;
	height: 11vw;
}

.contact_page {
	width: 11vw;
	height: 11vw;
}

.contact_page p {
    width: 8vw;
    background-color: rgba(0,0,0,0.8);
    display: block;
    padding: 1vw 0 1vw 0;
}

.contact_image {
    position: relative;
    transition-duration: 0s;
}

footer {
	width: 100%;
}

