@charset "utf-8";

html {
    font-family:  "Arial", "Yu Gothic", "YuGothic", system-ui;
	font-weight:  lighter;
	color: #4d2e19;
}

body {
	width: 98vw;
	background-repeat:  no-repeat;
	opacity: 0;
}

.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

img {
    width: 100%;
}

section {
	width: 98vw;
}

section h1 {
    margin: 1vw auto;
    text-align: center;
    font-size: 2.9vw;
    line-height: 28px;
}

section h1 span{
	font-size: 1.6vw;
	font-weight: bold;
}

footer {
	width: 98vw;
	padding: 5vw 0;
	text-align: center;
}

footer small {
	font-size: 1vw;
}