@charset "utf-8";

html {
    font-size: 1px;
    font-family:  "Arial", "Yu Gothic", "YuGothic", system-ui;
    font-weight:  lighter;
}

body {
    width: 100vw;
    background-image: url("../images/profile_back.jpg");
    background-size: auto;
    background-position: right bottom;
}

.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

section {
    width: 98vw;
    margin: 0 auto;
    padding: 6vw 3vw;
}

.profile {
    width: 100%;
    margin: 7vw auto 0 auto;
    font-size: 3vw;
}

.my_name {
	font-size: 6vw;
    font-weight: bold;
    text-align: center;
}

.my_name span {
	font-size: 3.4vw;
	font-weight: lighter;
	margin-left: 2.3vw;
}

.profile_box {
    width: 100%;
}

.profile_box p {
    margin: 2vw 0;
}

.profile_hl {
	font-size: 3.6vw;
	font-weight: bold;
	margin: 5vw 0 0.1vw 0;
}

.skills {
	font-size: 3.2vw;
	font-weight: normal;
}

.profile_caption {
	line-height: 20px;
	font-weight: 500;
}

/* モバイル版のみの設定ここから */

.mb_heading {
    font-size: 5.9vw;
}

.mb_heading span{
    font-size: 4.6vw;
}

.none {
    display: none;
}

.sub_page_menu {
    width: 100%;
    margin: 0 auto;
}

#nav-open {
    width: 20%;
    margin: 7vw auto 0 auto;
    display: block;
}

/* モバイル版のみの設定ここまで */

/* Worksページの設定ここから */

.works_page_mobile .works_box a{
    display: block;
    margin: 0 auto;
}

.works_page_mobile .works_box p {
    margin-top: 7vw;
}

.categoryMb {
    font-size: 15rem;
    margin: 0 auto;
    width: 100%;
    height: 50px;
}

#mbCategory {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#mbCategory li {
    font-size: 12rem;
    padding: 1vw 2.5vw;
    transition-duration: 0.4s;
}

.works_contentsMb {
    width: 100%;
}

.works_box .works_contentsMb a{
    display: block;
    margin: 0 auto;
}

.works_contentsMb div {
    width: 100%;
    margin: 0 auto;
}

.works_contentsMb div p {
    text-align: center;
    font-size: 7vw;
    font-weight: bold;
    line-height: 4.5vw;
    margin-top: 4vw;
}

.category_exMb {
    display: inline-block;
    margin: 2.5vw auto 0 auto;
    text-align: left;
    font-size: 4vw;
    font-weight: lighter;
}

#works_slHeuris, .option_title {
    /* モバイル版でタイトルが長いものに使う */
    font-size: 6vw;
}

/* Worksページの設定ここまで */

/* 各作品の個別ページの設定ここから */

.works_mobile .mb_heading {
    font-size: 5.9vw;
}

.works_mobile .works_category {
    height: auto;
    font-size: 4vw;
    margin: 0 auto;
    text-align: center;
}

.works_mobile p {
    width: 75%;
    font-size: 3.4vw;
    color: #4d2e19;
    margin: 11vw auto 13vw auto;
    line-height: 6vw;
}

.works_mobile p span {
    width: 100%;
    font-size: 2.5vw;
    color: #4d2e19;
    padding-top: 1.5vw;
    display: inline-block;
}

.works_mobile .left_caption {
    text-align: left;
    margin-top: 1vw;
    font-size: 4vw;
}

.works_mobile .works_contentsMb {
    width: 100%;
    margin: 0;
}

.works_mobile .mobile_image {
    margin-top: 15vw;
}

.works_mobile figure {
    width: 85%;
    margin-top: 20vw;
}

.works_mobile figcaption {
    font-size: 3vw;
}

/* 各作品の個別ページの設定ここまで */

/* コンタクトページここから */

#mobile_contact {
    padding: 0;
}

#mobile_contact .contact_info{
    font-size: 3.2vw;
    margin: 11vw auto 0 13vw;
}

/* コンタクトページここまで */

.mobile_works {
    display: block;
}

.mobile_works a{
    display: block;
    height: 15px;
    font-size: 3vw;
    padding: 5vw 0 13vw 17vw;
}

footer {
    width: 98vw;
    padding: 13vw 0;
    text-align: center;
}

footer small{
    font-size: 4vw;
}
